/* CONTAINER CONTATTI */
.container-contatti {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 5vw;
}

.container-contatti h2 a{
    text-align: center;
    text-decoration: none;
}

.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 700px;
    padding: 12px;
}

.formform {
    padding: 4px;
    width: 60%;
}

.etichette {
    text-align: center;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}

textarea {
    resize: none;
}

.textarea-label {
    justify-content: start;
}

.submit-button {
    width: 33%;
    justify-content: center;
    margin-top: 10px;
}
.submit-button:active .messaggio-grazie{
    display: block;
}
.messaggio-grazie {
    display: none;
    flex-direction: column;
    align-items: center;
}
.immagini-riempitive {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 5vw;
}

.immagini-riempitive img {
    display: none;
    width: 100%;
}

#img1 {
    display: block;
    width: 100%;
}

@media screen and (min-width:440px) {
    input, textarea {
        font-size: 14px;
    }

    .immagini-riempitive {
        gap: 0.5rem;
    }

    .immagini-riempitive img{
        display: block;
        width: 100%;
    }

    .etichette {
        font-size: 20px;
    }

    #img3 {
        display: none;
    }

    .submit-button {
        height: 30px;
        font-size: 18px;
    }
}

@media screen and (min-width: 811px){
    input, textarea {
        font-size: 16px;
    }

    .container-form {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: start;
    }

    .formform {
        width: 65%;
        margin: 1rem 0;
    }

    .etichette {
        width: 25%;
        font-size: 24px;
    }

    .submit-button {
        margin-left: 45%;
        height: 35px;
        font-size: 20px;
    }

    .immagini-riempitive {
        gap: 1rem;
    }
    
    #img3 {
        display: block;
        width: 100%;
    }
}