/* CONTAINER */
.container img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container {
    display: flex;
    flex-direction: column;
    margin: 1rem 5vw;
    gap: 2rem;
    line-height: 1.6;
    margin-bottom: 3rem;
}
.card-orizzontale {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card-orizzontale img {
    width: 100%;
    max-width: 400px;
}
.card-testo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem 1rem;
}
.card-testo h2, p {
    text-align: center;
}

.img-logo{
    width: 100%;
}

@media screen and (min-width: 811px){
    .container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .card-orizzontale {
        width: 26%;
        align-items: flex-end;        
    }
    .card-orizzontale img {
        width: 100%;
    }
    .card-testo {
        padding: 1rem 0.2rem;
    }
    .card-header {
        display: flex;
        width: 100%;
        align-items: center;        
        margin: 2rem 0;
    }
    .card-header img {
        height: 300px;
        width: 200px;
    }
    .card-header div {
        width: 60%;
    }
}
@media screen and (min-width: 1170px){
    .card-header img {
        height: 300px;
        width: 400px;
    }
}