/* CONTAINER */
.container {
    display: flex;
    flex-direction: column;
    margin: 1rem 5vw;
    gap: 2rem;
    line-height: 1.6;
    margin-bottom: 3rem;
}
.card-orizzontale {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
    padding-bottom: 1rem;
    gap: 1rem;
    background-color: var(--card-color);
}
.card-orizzontale img {
    width: 100%;
    max-width: 400px;
}
.card-testo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.card-testo h2, p {
    text-align: center;
}

.img-logo{
    width: 100%;
}

@media screen and (min-width: 811px){
    .container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .card-orizzontale {
        width: 29%;
        align-items: end;
    }
    .card-orizzontale img {
        
        width: 100%;
    }
    .card-header {
        width: 100%;
        align-items: center;        
        margin-top: 10px;
    }
    .card-header img {
        height: 300px;
        width: 400px;
    }
    .card-header div {
        width: 45%;
    }
}