/* GLOBAL */
:root {
    --navbar-hight: 50px;
}
@font-face {
    font-family: 'forum';
    src: url("../font/Forum-Regular.ttf") format("ttf");
}
* {
    margin: 0;
}
body {
    font-size: 16px;
}
img {
    max-width: 400px;
    width: 100%;
}

/* HEADER */
#img-logo-navbar {
    display: none;
    
}

.banner-header{
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    background-image: url("../img/technology-1-mod.jpg");
    padding-right: 2px;
    color: lightgray;
}
.banner-header > h1 {
    background: linear-gradient(to right, rgba(255, 215, 255, 0) 0%, rgba(225, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0) 61%), linear-gradient(rgb(97, 183, 217) 52%, rgb(224, 246, 255) 60%, rgb(78, 99, 132) 61%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: onda 2000ms ease alternate infinite;
    transition: all 0.4s ease;
    -webkit-text-stroke: 1px #a6fce5;
}

.banner-header img {
    max-height: 85px;
    opacity: 0.8;
}

/* NAVBAR */
.navbar {
    background-color: lightblue;
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar img {
    height: 60px;
    width: 60px;
    padding: 3px;
}

.navbar-menu {
    display: flex;
    justify-content: space-around;
    padding: 2px;
    height: 100%;
    width: 100%;
}
.navbar-menu > a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    /* Aggiungere  BOLD */
}   
.navbar-menu > a:hover {
    background-color: #ddd;
    color: black;
}
.navbar-menu > a:active {
    background-color: #04AA6D;
    color: white;
}
/* DROPDOWN */
.dropdown {
    display: none;
}

.social-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-logo img {
    max-width: 30px;
    max-height: 30px;
}
/* CONTAINER */
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 10px;
    gap: 2rem;
}
.card-orizzontale {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 1rem;
}

.card-testo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.card-testo p {
    text-align: center;
}
.img-logo{
    width: 100%;
}

/* CONTAINER CONTATTI */
.container-contatti {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.container-contatti h2 a{
    text-align: center;
    text-decoration: none;
}
.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 700px;
    padding: 12px;
}
.formform {
    padding: 4px;
    width: 60%;
}
.etichette {
    text-align: center;
    width: 100%;
}
.submit-button {
    width: 33%;
    justify-content: center;
    margin-top: 10px;
}
/* FOOTER */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.loghi-social{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.loghi-social img {
    max-height: 20px;
}

@media screen and (min-width: 440px){
    body{
        background-color: lightgreen;
        font-size: 18px;
    }
    /* NAVBAR*/
    .navbar {
        justify-content: space-around;
    }
    .navbar-menu{
        gap: 6px;
    }
}

@media screen and (min-width: 811px){
    body{
        font-size: 22px;
        background-color :orange;
    }
    /* BANNER HEADER */
    .banner-header {
        height: 200px;
    }
    .banner-header img {
        max-height: 150px;
        opacity: 0.8;
    }
    /* NAVBAR */
    .navbar {
        height: 75px;
        justify-content: start;
        align-items: center;
    }
    .navbar-menu{
        width: 100%;
        justify-content: start;
        align-items: center;
        gap: 2rem;
    }
    .navbar a {
        font-size: 26px;
    }
    /* DROPDOWN */
    .dropdown{
        display: block;
    }
    .dropdown  a {
        display: block;
        text-align: center;
        padding: 15px 16px;
        text-decoration: none;
    }
    .dropdown > a:hover {
        background-color: #ddd;
    }
    .dropdown-content{
        display: none;
        position: absolute;
        z-index: 1;
        margin-left: -10px;

    }
    
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    .dropdown-content a {
        background-color: lightblue;
        color: black;
        display: block;
    }
    .dropdown-content a:hover {
        background-color: #ddd;
    }
    .social-logo {
        display: none;
    }
    /* CONTAINER */
    .container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }
    .card-orizzontale {
        width: 29vw;
        align-items: end;
    }
    .card-orizzontale img {
        max-width: fit-content;
        width: 100%;
    }
    .card-header {
        width: 100%;
        align-items: center;
    }
    .card-header img {
        height: 300px;
        width: 400px;
    }
    .card-header div {
        width: 45%;
    }
}
@keyframes onda {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50vw 10px;
    }
    
}
@keyframes spostamento-oggetti-navbar {

}
#ultimoAggiornamento {
    font-size: 12px;
}
/* TEST */
.back {
    background-color: red;
}
.bord {
    border: 2px solid blue;
}
.bot-bord {
    border-bottom: 2px solid blue;
}