/* GLOBAL */
:root {
    --navbar-hight: 50px;
}
@font-face {
    font-family: 'forum';
    src: url("../font/Forum-Regular.ttf") format("ttf");
}
* {
    margin: 0;
}
body{
    font-size: 16px;
}
img {
    height: 200px;
}

/* HEADER */
#img-logo-navbar {
    display: none;
}
.logo {
   opacity: 0.8;
}
.logo-header{
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    background-image: url("../img/technology-1.jpg");
    padding-right: 5px;
    color: lightgray;
}
.logo-header > h1 {
    background: linear-gradient(to right, rgba(255, 215, 255, 0) 0%, rgba(225, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0) 61%), linear-gradient(rgb(97, 183, 217) 52%, rgb(224, 246, 255) 60%, rgb(78, 99, 132) 61%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: onda 2000ms ease alternate infinite;
    transition: all 0.4s ease;
    -webkit-text-stroke: 1px #a6fce5;
}

.logo-header img {
    max-height: 100px;
}

/* NAVBAR */
.navbar img {
    padding: 3px;
}
.navbar {
    background-color: lightblue;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar img {
    height: 60px;
    width: 60px;
}

.navbar-menu {
    display: flex;
    justify-content: space-around;
    padding: 2px;
    height: 100%;
}
.navbar-menu > a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}   
.navbar-menu > a:hover {
    background-color: #ddd;
    color: black;
}
.navbar-menu > a:active {
    background-color: #04AA6D;
    color: white;
}
/* DROPDOWN */
.dropdown {
    display: none;
}
.dropdown  a {
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    font-size: 17px;
}
.dropdown-content{
    display: none;
    position: absolute;
    z-index: 1;
    margin-left: -10px;
    margin-top: 10px; 
}


.dropdown:active .dropdown-content,
.dropdown:visited .dropdown-content {
    display: block;
}

.dropdown-content a {
    background-color: lightblue;
    color: black;
    display: block;
}
.social-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-logo img {
    max-width: 30px;
    max-height: 30px;
}
/* CONTAINER */
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 10px;
    gap: 10px;
}

.card-orizzontale {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.card-testo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.card-testo p {
    text-align: center;
}
.img-logo{
    width: 100%;
}
.spazio{
    height: 65px;
}
/* CONTAINER CONTATTI */
.container-contatti {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.container-contatti h2 a{
    text-align: center;
    text-decoration: none;
}
.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 700px;
    padding: 12px;
}
.formform {
    padding: 4px;
    width: 60%;
}
.etichette {
    text-align: center;
    width: 100%;
}
.submit-button {
    width: 33%;
    justify-content: center;
    margin-top: 10px;
}
/* FOOTER */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.loghi-social{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.loghi-social img {
    max-height: 20px;
}


@media screen and (min-width: 440px) {
    body {
      background-color: lightgreen;
    }
    .navbar {
        justify-content: space-around;
    }
    .navbar-menu {
        gap: 6px;
    }

    #img-logo-navbar {
        height: 40px;
        width: 40px;
        display: block;
    }
    .logo-header {
        justify-content: center;
    }
    .logo-header a {
        display: none;
    }
    .navbar-menu a {
        font-size: 23px;
    }
    .navbar-menu a:hover {
        transform: scale(1.3);
    }
    .social-logo {
        justify-content: space-between;
    }
    
}

@media screen and (min-width: 768px) {
    body {
        background-color: lavender;
        font-size: 23px;
    }
    .navbar {
        justify-content: space-between;
    }
    .social-logo {
        display: none;
    }
    
    .dropdown {
        display: inline-block;
        margin-top: 15px;
    }
    .dropdown > a:hover {
       
        background-color: #ddd;
        color: black;
        
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    
    .card-orizzontale {
        justify-content: space-around;
    }
   
    .card-testo {
        width: 50%;
    }
    .container-form {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    .formform {
        width: 60%;
    }
    .etichette {
        width: 20%;
    }
    .submit-button {
        margin-left: 150px;
    }
    .card-reverse {
        flex-direction: row-reverse;
    }
}

@keyframes onda {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50vw 10px;
    }
    
}
#ultimoAggiornamento {
    font-size: 12px;
}
/* TEST */
.back {
    background-color: red;
}
.bord {
    border: 2px solid blue;
}
.bot-bord {
    border-bottom: 2px solid blue;
}