/* GLOBAL */
:root {
    --card-color: rgb(173, 216, 230, 0.6);
    --navbar-color: rgb(173, 216, 230, 0.9);
    --hover-color: #ddd;
    --active-color: #003aa6;
    --colore-ombra: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
@font-face {
    font-family: 'forum';
    src: url("../font/Forum-Regular.woff") format("woff");
}
* {
    margin: 0;
}

html {
    background-image: linear-gradient(to top right, #00a7ff, #f4fbff);
}
body {
    font-family: "forum";
    background-image: url("../img/sfondo-punti-mod-contrario.png");    
}
   
a {
    color: black;
}
p, li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h2{
    font-size: 30px;
}

/* HEADER */
#img-logo-navbar {
    display: none;
    
}

.banner-header{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    padding-right: 2px;
    color: lightgray;
}

.banner-header > h1 {
    display: none;
    background: linear-gradient(to right, rgba(255, 215, 255, 0) 0%, rgba(225, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0) 61%), linear-gradient(rgb(97, 183, 217) 52%, rgb(224, 246, 255) 60%, rgb(78, 99, 132) 61%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: onda 2000ms ease alternate infinite;
    transition: all 0.4s ease;
    -webkit-text-stroke: 1px #a6fce5;
    font-size: 62px;
}

.banner-header img {
    max-height: 85px;
}

/* NAVBAR */
.navbar {
    background-color: var(--navbar-color);
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar img {
    height: 60px;
    width: 60px;
    padding: 3px;
    margin-top: 5px;
}

.navbar-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2px;
    height: 100%;
    width: 100%;
}

.navbar-menu > a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
    color: black;
}  

.navbar-menu a:hover {
    background-color: var(--hover-color);
    color: black;
}

.navbar-menu a:active {
    background-color:  var(--active-color);
    color: white;
}

/* DROPDOWN */
.dropdown {
    display: none;
}

.social-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-logo img {
    max-width: 30px;
    max-height: 30px;
}

/* FOOTER */
.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--navbar-color);
    padding: 2px 1rem;
}
.footer p{
    font-size: 14px;
}

/* CARD */
.card {
    padding: 1rem;
    background-color: var(--card-color);
    box-shadow: var(--colore-ombra);
}

.ombra {
    box-shadow: var(--colore-ombra);
}

@media screen and (min-width: 440px){
    body{
        font-size: 18px;
    }
    h2 {
        font-size: 40px;
    }
    p, li {
        font-size: 18px;
    }
    /* NAVBAR*/
    .navbar {
        justify-content: space-around;
    }
    .navbar a {
        font-size: 24px;
    }
    .navbar-menu{
        gap: 6px;
    }
}

@media screen and (min-width: 811px){

    h2 {
        font-size: 52px;
    }

    p, li {
        font-size: 20px;
    }

    /* BANNER HEADER */
    .banner-header {
        height: 200px;
        justify-content: end;
        padding: 0 2rem;
    }

    .banner-header img {
        max-height: 150px;
    }

    .banner-header h1 {
        display: block;
    }

    /* NAVBAR */
    .navbar {
        height: 75px;
        justify-content: start;
        align-items: center;
        padding-left: 50px;
    }

    .navbar-menu{
        width: 100%;
        justify-content: start;
        align-items: center;
        gap: 2rem;
    }

    .navbar a {
        font-size: 26px;
    }

    .navbar a:hover {
        transform: scale(1.3);
    }

    /* DROPDOWN */
    .dropdown{
        display: block;
    }

    .dropdown  a {
        display: block;
        text-align: center;
        padding: 15px 16px;
        text-decoration: none;
    }

    .dropdown > a:hover {
        background-color: #ddd;
    }

    .dropdown-content{
        display: none;
        background-color: var(--navbar-color);
        position: absolute;
        z-index: 1;
        border: 2px solid black;
        margin-left: -7px;
        margin-top: 8px;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
    }

    .social-logo {
        display: none;
    }
}

@keyframes onda {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50vw 10px;
    }
    
}

#ultimoAggiornamento {
    font-size: 12px;
}
/* TEST */
.back {
    background-color: red;
}
.bord {
    border: 2px solid blue;
}
.bot-bord {
    border-bottom: 2px solid blue;
}